<div style="font-size:12px;"><!-- BEGIN topic -->
<span style="color:#B14738;font-weight:bolder;">{topic.LAST_POST_TIME}</span> ({topic.LAST_POST_DATE})
<a href="{topic.LAST_POST_LINK}"<!-- IF topic.S_NEW_POST --> style="font-weight:bold;"<!-- ENDIF -->>{topic.TOPIC_TITLE}</a>
{topic.FORUM_NAME}
<span style="color:#FF6A6A;font-weight:bolder;">({topic.TOPIC_REPLIES})</span>
<a href="{topic.USER_LINK}">{topic.LAST_POST_USERNAME}</a>
<span style="color:#B14738;font-weight:bolder;">{topic.LAST_POST_TIME_AGO}</span>
<br />

<!--{topic.LAST_POST_TIME_AGO}-->

<!-- END topic -->
</div>
<div style="margin-top:20px;text-align:center;font-weight:bold;font-size:18px;"><a href="{FORUMS_URL}">_(ForumsLANG)</a></div>
